<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heartdiseasechecker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeartDiseaseChecker">
        <activity android:name=".HospitalPrivate"></activity>
        <activity android:name=".HospitalPublic" />
        <activity android:name=".WebCoronary" />
        <activity android:name=".WebPericardial" />
        <activity android:name=".Webheartvalve" />
        <activity android:name=".webarthritis" />
        <activity android:name=".webcongenital" />
        <activity android:name=".cardiomyopathy" />
        <activity android:name=".Symptoms" />
        <activity android:name=".Treatement" />
        <activity android:name=".Search" />
        <activity android:name=".Hospitals" />
        <activity android:name=".NextActivity" />
        <activity android:name=".ViewMore" />
        <activity android:name=".CongenitalHeartD" />
        <activity android:name=".Cardiomyoparthy" />
        <activity android:name=".PericardialDisease" />
        <activity android:name=".HeartValve" />
        <activity android:name=".HeartArthrytis" />
        <activity android:name=".CoronaryHeart" />
        <activity android:name=".Home" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>